.container{
    margin-bottom: 75px;
}
.orange-bg{
    background-color: #fceaeb;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
    
}
.price{
    color: #ff136f;
}
.buy-now-button{
    border-radius: 20px;
    color:white ;
    background-image: linear-gradient(to bottom, #ff5b9b 0%, #ff136f 100%);
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}