.container{
    margin-bottom: 75px;
}
.orange-bg{
    background-color: #fceaeb;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
    
}
.price{
    color: #ff136f;
}
.buy-now-button{
    border-radius: 20px;
    color:white ;
    background-image: linear-gradient(to bottom, #ff5b9b 0%, #ff136f 100%);
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
    width: 100px;

}
.card{
    border: none;
    box-shadow: 5px 5px 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Contact-us{
    height: 300px;
}
footer{
    text-align: center;
}
#buy-button{
    margin-top: 5px;
}